.container {
  background: #ff9000;
  border-radius: 10px;
  border: 0;
  padding: 12px 16px;
  color: #FFF;
  width: 160px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
  transition: background 0.3s;

  &:hover {
    background: #EF9B38;
  }
}