.container {
  display: flex;
  flex-direction: column;
  padding: 2% 8%;
  justify-content: space-around;

  header {
    display: flex;
    align-items: center;

    >span {
      margin-left: 10px;
      font-size: 30px;
      text-transform: capitalize;
    }

    >svg {
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: #ff9000;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;

    >img {
      margin-top: 20px;
      border-radius: 20px;
      height: 475px;
      object-fit: cover;
      object-position: center;
    }

    >div {
      display: flex;
      flex-direction: row;
      padding: 40px 0;
    }
  }
}

.left {
  display: block;
  width: 40%;
  align-items: flex-start;
}

.ritgh {
  display: block;
  width: 40%;
  align-items: flex-start;
}

.info {
  display: flex;
  align-items: center;
  padding: 10px 0;

  >strong {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }

  >span {
    color: #b5b5b5;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    text-transform: capitalize;
  }

  >svg {
    cursor: pointer;
    padding-left: 10px;
    transition: all 0.3s;

    &:hover {
      color: #ff9000;
    }
  }
}