.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100px * 9));
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(100px * 9));
  }
}

.slider,
.slider1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // height: 350px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  top: 0;
}

.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide_track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(350px * 18);
}

.slide {
  // height: 350px;
  width: 250px;
}

.title {
  font-size: 60px;
  color: #FFF;

  >strong {
    color: #E58D26;
  }
}

.button {
  width: 220px;
  padding: 15px;
  color: #FFF;
  font-size: 22px;
  background: #E58D26;
  border-radius: 10px;
  border: none;
  transition: all 0.3s;

  &:hover {
    background: #EF9B38;
  }
}

.containerCard {
  display: flex;
  flex-direction: column;
  width: 225px;
  overflow: hidden;
  background: #3B3B3B;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.46));
  border: 3px solid #3B3B3B;
}

.image {
  width: 100%;
  height: 240px;
}

.cover {
  width: 100%;
  height: 240px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 12px;

  >span {
    font-size: 20px;
    color: #FFF;
    font-weight: 300;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
  }
}

.slider .slide_track1 {
  animation: scrollReverse 80s linear infinite;
  display: flex;
  width: calc(350px * 18);
}