.info {
  display: flex;
  align-items: center;
  padding: 10px 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  >strong {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }

  >span {
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    text-transform: capitalize;
  }

  >svg {
    cursor: pointer;
    padding-left: 10px;
    transition: all 0.3s;

    &:hover {
      color: #ff9000;
    }
  }
}

.showText {
  font-weight: 300;
  font-size: 20px;
  color: #b5b5b5;
}

.hiddenText {
  font-weight: 300;
  font-size: 20px;
  filter: blur(6px);
}